// Global styles

:root {
  --primary-color: rgba(51, 41, 161, 1);
  --text-color: rgba(65, 65, 65, 1);
  --background-color: rgba(246, 246, 246, 1);
  --maxWidth: 1520px;
}

body,
h1,
h2,
h3 {
  padding: 0px;
  margin: 0px;
}

.__routeContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.__routeContent {
  background-color: yellow;
  width: var(--maxWidth);
}
