header {
  position: fixed;
  top: 0px;
  background-color: white;
  height: 60px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  animation: menuDown 1.5s;
  z-index: 20;

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--maxWidth);

    div {
      margin: 0px 20px;
    }

    .logo-header {
      background-image: url('../../../assets/images/logo-header.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 200px;
      height: 60px;
    }

    .nav-menu {
      display: flex;
      gap: 30px;
    }
  }
}

header,
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.logo-container {
  margin-top: 65px;
  animation: containerDown 1.5s;
  z-index: -1;
  user-select: none;
}

.logo-info {
  position: relative;
  width: var(--maxWidth);
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  .avatar {
    position: relative;
    z-index: 3;
    max-width: 280px;

    .avatar-btn-change {
      position: absolute;
      right: -15px;
      top: 15px;
      transform: scale(0.8);
      animation: fadeIn 5s;
      z-index: 5;
    }

    .avatar-img {
      border: 2px solid rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
      // animation: rotation 2s ease-in-out;
      // animation-delay: 0.5s;
    }
  }

  .span-frontend {
    position: absolute;
    top: 47%;
    left: 27%;
    z-index: 4;
    animation: frontEndAppear 1.5s;

    h1 {
      transform: scale(1.4);
    }
  }

  .span-developer {
    position: absolute;
    top: 47%;
    right: 26%;
    z-index: 4;
    animation: frontEndAppear 2s;

    h1 {
      transform: scale(1.4);
    }
  }

  .span-hello {
    position: absolute;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    width: 270px;
    background-color: white;
    padding: 10px;
    top: 61%;
    left: 30%;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
    transform: scale(0.85);
    z-index: 4;

    .btnOk {
      position: absolute;
      bottom: -50px;
      right: -20px;
      transform: scale(0.7);
    }

    div {
      margin-bottom: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }
  }

  .span-hello::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 38px solid #fff;
    right: -10px;
    top: -25px;
    transform: rotate(35deg);
  }

  .span-hello::after {
    content: attr(data-after);
    margin-left: 3px;
    animation: blink 0.8s infinite;
  }

  .color-logo {
    position: absolute;
    background-color: var(--background-color);
    border-radius: 5px;
    height: 95%;
    width: 95%;
    top: 10px;
    left: 2.5%;
    z-index: 1;
  }

  .background-logo {
    position: absolute;
    background-image: url('../../../assets/images/background2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    width: 80%;
    top: 40px;
    left: 9.5%;
    z-index: 2;
    opacity: 0.75;
    animation: zoom 7s ease-in-out infinite;
  }
}

.showBtnMenu {
  display: none !important;
}

.menuSmallDevices {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  background-color: rgba(255, 255, 255, 0.97);
  width: 100%;
  height: 100vh;

  .optMenu {
    animation: fadeIn 1s;

    .opt-body {
      height: 100vh;
      display: flex;
      gap: 20px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .opt-body-content {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 60%;
      background-color: rgba(255, 255, 255, 0.8);
      border-top: 2px solid rgba(0, 0, 0, 0.15);
      border-bottom: 2px solid rgba(0, 0, 0, 0.15);
      padding: 40px 0;

      a {
        margin: 20px 0px;
        font-size: 1.6rem;
      }

      h1 {
        margin: 20px 0px;
      }

      img {
        max-width: 320px;
        margin-bottom: 30px;
      }

      .closeBtn {
        position: absolute;
        top: -50px;
        right: -60px;
        transform: scale(0.8);
      }
    }
  }
}

@media (max-width: 700px) {
  .showLinks {
    display: none;
  }

  .showBtnMenu {
    position: relative;
    display: block !important;
    z-index: 1;

    .handleMenuEffect {
      position: absolute;
      top: 0px;
      right: -10px;
      width: 10px;
      height: 10px;
      background-color: transparent;
      border-radius: 50%;
      z-index: 2;
    }
  }
}

@media (max-width: 1366px) {
  .logo-info {
    .span-frontend {
      top: 3%;
      right: 27%;

      h1 {
        transform: scale(1.2);
      }
    }

    .span-developer {
      top: 85%;
      left: 30%;

      h1 {
        transform: scale(1.2);
      }
    }

    .span-hello {
      display: none;
    }
  }
}
